.homepage{
    width:1300px;
    max-width:100%;
    height:auto;
    display:flex;
    justify-content: space-evenly;
    background-color:#e8e8e8;
}

.homepage-words{
    margin: 120px 0px 0px 100px;
}

.homepage-words h1{
    font-size:5.5rem;
    color:#3e3e3e;
    margin-top:50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

.homepage-words p, .homepage-words p a{
    font-size:1.8rem;
    color: #3e3e3e;
    margin:0px;
    text-decoration: none;
}

#franklin-picture{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-top:40px
}

#mockup{
    width:500px;
    margin-top:120px;
}

#link{
    font-weight: bold;
}

@media(max-width:1000px){
    #mockup{width:400px; margin-top:80px}
    .homepage-words h1{font-size:4rem}
    .homepage-words{margin:40px 0px 0px 100px}
}

@media(max-width:961px){
    .homepage{flex-direction: column; justify-content: center; align-items: center;}
    .homepage-words h1{font-size:5rem; margin-left:0px}
    .homepage-words{margin-left:0px}
}

@media(max-width:650px){
    .homepage-words h1{font-size:4.5rem}
}

@media(max-width:547px){
    .homepage-words h1{font-size:3.5rem; margin-bottom:40px}
}

@media(max-width:435px){
    .homepage-words h1{font-size:3rem;}
    .homepage-words p, #link{font-size:1.5rem}
    #mockup{width:350px}
}

@media(max-width:365px){
    .homepage-words h1{font-size:2.5rem;margin-bottom: 60px;}
    .homepage-words p, #link{font-size:1.3rem}
    #mockup{width:350px}
}